personal-info {
    ion-avatar > img {
        border-radius: 50%;
        box-shadow: 0 0 2px grey;
        margin: auto;
        width: 150px;
        height: auto;
        z-index: 1;
    }

    .collapsible-details {
        max-height: 0;
        overflow: hidden;

        transition: max-height 500ms;
        &.expanded {
            max-height: 200px;
        }
    }

    .horizontal-rule {
        border-bottom: 1px solid #eee;
    }
}
