<div *ngIf="user">
  <!-- Basic Profile Info section -->
  <ion-card>
    <ion-item text-right>
      <button ion-button clear
        color="dark"
        [navPush]="addEditMemberPage"
        [navParams]="{'isEdit':true, 'partToEdit': 'basicInfo', 'user': user}">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>

    <ion-avatar>
      <img [src]="user.photoUrl ? user.photoUrl : 'assets/imgs/unknown_person.png'">
    </ion-avatar>
    <ion-item text-center padding-top>
      <ion-card-title>
        {{ user.fullName }}
      </ion-card-title>
      <p>
        Member since: {{ user.dateJoined | date:'d MMM yyyy' }}
      </p>
    </ion-item>

    <ion-list>
      <ion-row>
        <ion-col col-3>
          <ion-item text-right>
            <ion-icon name="call"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-9>
          <ion-item text-left>
            {{ user.phoneNumbers[0].number }}
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <ion-item text-right>
            <ion-icon name="mail"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-9>
          <ion-item text-left>
            {{ user.email }}
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <ion-item text-right>
            <ion-icon name="pin"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-9>
          <ion-item text-left text-wrap>
            <span *ngIf="profileExpanded">
              {{ user.address.street }} {{ user.address.barangay }}
            </span>
            <span>
              {{ user.address.city }}
            </span>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item-group class="collapsible-details"
        [ngClass]="{'expanded': profileExpanded}">
        <ion-row *ngIf="user.workDetails">
          <ion-col col-3>
            <ion-item text-right>
              <ion-icon name="alert"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col col-9>
            <ion-item text-left>
              {{ user.workDetails.title }} at {{ user.workDetails.company }}
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-item text-right>
              <ion-icon name="calendar"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col col-9>
            <ion-item text-left>
              {{ user.dateOfBirth | date:'d MMMM yyyy' }}
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="user.otherRemarks">
          <ion-col col-3>
            <ion-item text-right>
              <ion-icon name="list-box"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col col-9>
            <ion-item text-left text-wrap>
              {{ user.otherRemarks }}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-list>

    <div class="horizontal-rule"></div>
    <p text-right>
      <button ion-button clear (click)="profileToggle()">
        <ion-note *ngIf="!profileExpanded" text-uppercase>
          See more
          <ion-icon margin-left name="ios-arrow-down"></ion-icon>
        </ion-note>
        <ion-note *ngIf="profileExpanded" text-uppercase>
          See less
          <ion-icon margin-left name="ios-arrow-up"></ion-icon>
        </ion-note>
      </button>
    </p>
  </ion-card>
</div>
