fitness-parameters-chart-view {
    ion-card-content {
        min-height: 150px;

        .spinner-container {
            height: 150px;
            margin: auto;
            width: 100%;

            .spinner {
                position: relative;
            }
        }

        .slide-left-container, .slide-right-container {
            margin: auto;
            button:hover {
                border-radius: 50%;
            }
        }
    }
}
