<!-- <ion-card-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
</ion-card-content> -->
<ion-card-content ion-row>
  <a class="slide-left-container" ion-col col-1>
    <button
      ion-button
      clear
      color="dark"
      class="slide-nav"
      [disabled]="slides.isBeginning()"
      (click)="slides.slidePrev()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
  </a>
  <ion-col col-10>
    <ion-slides #slides>
      <ion-slide>
        <canvas #ageCanvas></canvas>
      </ion-slide>
      <ion-slide>
        <canvas #heightCanvas></canvas>
      </ion-slide>
      <ion-slide>
        <canvas #weightAndBMICanvas></canvas>
      </ion-slide>
      <ion-slide>
        <canvas #restingMetabolismCanvas></canvas>
      </ion-slide>
      <ion-slide>
        <canvas #visceralFatRatingCanvas></canvas>
      </ion-slide>
      <ion-slide>
        <canvas #fatPercentageCanvas></canvas>
      </ion-slide>
      <ion-slide>
        <canvas #skeletalMuscleCanvas></canvas>
      </ion-slide>
    </ion-slides>
  </ion-col>
  <a class="slide-right-container" ion-col col-1>
    <button
      ion-button
      clear
      color="dark"
      class="slide-nav"
      [disabled]="slides.isEnd()"
      (click)="slides.slideNext()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </a>
</ion-card-content>

