<ion-card-content>
  <ion-slides #slides>
    <ion-slide>
      <canvas #ageCanvas></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #heightCanvas></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #weightAndBMICanvas></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #restingMetabolismCanvas></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #visceralFatRatingCanvas></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #fatPercentageCanvas></canvas>
    </ion-slide>
    <ion-slide>
      <canvas #skeletalMuscleCanvas></canvas>
    </ion-slide>
  </ion-slides>
  <a class="slide-left-container">
    <button
      ion-button
      clear
      round
      float-left
      color="dark"
      class="slide-nav"
      [disabled]="slides.isBeginning()"
      (click)="slides.slidePrev()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
  </a>
  <a class="slide-right-container">
    <button
      ion-button
      clear
      round
      float-right
      color="dark"
      class="slide-nav"
      [disabled]="slides.isEnd()"
      (click)="slides.slideNext()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </a>
</ion-card-content>

