page-view-member {

    ion-avatar > img {
        border-radius: 50%;
        box-shadow: 0 0 2px grey;
        margin: auto;
        width: 150px;
        height: auto;
        z-index: 1;
    }

    .horizontal-rule {
        border-bottom: 1px solid #eee;
    }

    .ion-icon:before, .ion-icon::before {
        opacity: 0.5;
    }

    .collapsible-details {
        max-height: 0;
        overflow: hidden;

        transition: max-height 500ms;
        &.expanded {
            max-height: 200px;
        }
    }


    .spinner {
        position: fixed;
        z-index: 1;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
