<ion-header>

  <ion-navbar>
    <ion-title>{{ user.fullName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="user && !loading">
    <ion-row>
      <!--
        Left Column containing Basic Profile Info and ICE Info
      -->
      <ion-col col-12 col-md-5>
        <personal-info [user]="user"></personal-info>
        <contact-ice [user]="user"></contact-ice>
      </ion-col>

      <!--
        Right Column Containing
        Fitness Parameters
        TO DO: Activity Timeline
      -->
      <ion-col col-12 col-md-7>
        <fitness-parameters [user]="user"></fitness-parameters>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="!user || loading">
    <div class="spinner">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
</ion-content>
