<ion-header>
  <ion-navbar>
    <ion-title>Create an account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item error>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email" email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>

    <div *ngIf="email.invalid && email.dirty" class="danger">
      <div *ngIf="email.errors.required">Email is required.</div>
      <div *ngIf="!email.errors.required && email.errors.email">Email format should be <i>juan@delacruz.com</i>.</div>
    </div>

    <div *ngIf="password.invalid && password.dirty" class="danger">
      <div *ngIf="password.errors.required">Password is required.</div>
      <div *ngIf="password.errors.minlength && !password.errors.required">
        Password should be at least {{ password.errors.minlength.requiredLength }} characters.
      </div>
    </div>
    <div *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="danger">
      <div *ngIf="confirmPassword.errors.required">Enter password.</div>
      <div *ngIf="signUpForm.errors && signUpForm.errors.passwordMismatch && !confirmPassword.errors.required">
        Passwords do not match.
      </div>
    </div>
    <div *ngIf="signUpForm.invalid && signUpForm.dirty" class="danger">
      <div *ngIf="signUpForm.errors && signUpForm.errors.serverMessage">
        {{ signUpForm.errors.serverMessage }}
      </div>
    </div>

    <div padding>
      <button ion-button type="submit" color="primary" [disabled]="!signUpForm.valid" block>SIGN UP</button>
    </div>
  </form>
</ion-content>
