// split side pane menu
ion-menu.split-pane-side {
  @media (min-width: 768px) {
    & {
      max-width: 300px!important;
    }
  }

  .toolbar-background {
    background-color: color($colors, primary);
  }

  ion-header {
    border-bottom: 1px solid #E0CE34!important;

    @media (min-width: 768px) {
      & {
        min-height: 64px!important;
      }

      ion-title {
        padding-top: 8px;
      }
    }
  }

  ion-content {
    background-color: color($colors, primary);
    ::-webkit-scrollbar {
      display: none;
    }

    button.item-md {
      background-color: color($colors, primary);
      border-bottom: 1px solid #E0CE34!important;

      font-size: 14px;
      font-weight: bold;
      letter-spacing: .02em;

      &:hover, &.active:hover {
        background-color: #fbc02d;
      }

      &.active {
        background-color: #fdd835;
      }
    }
  }
}

// split pane nav content
ion-nav.split-pane-main {
  ion-header {
    ion-navbar {
      @media screen and (min-width: 768px) {
        & {
          height: 64px!important;
        }

        ion-title {
          padding-top: 8px;
        }

        button.bar-button-menutoggle {
          display: none;
        }
      }

      .toolbar-background {
        background-color: #fff!important;
      }
    }
  }

  ion-content {
    ::-webkit-scrollbar {
        display: none;
    }

    &.content-md {
      background-color: #efefef;
    }
  }
}
