page-add-member {

    .container {
        @media (min-width: 768px) {
            & {
                margin-left: 10%;
                margin-right: 10%;
                width: 80%;

                form {
                    margin: auto;
                    max-width: 600px;
                }
            }
        }

        form {
            .header {
                color: rgb(85, 85, 85);
                font-size: 1.8rem;
                font-weight: 500;
                margin: 16px 0px 8px 16px;
            }

            .profile-image-container {
                height: 50px;
                margin: auto;
                position: relative;
                width: 50px;

                .profile-image {
                    box-shadow: 0 0 2px grey;
                    border-radius: 50%;
                    position: absolute;
                    top: 8px;
                    z-index: 1;
                }

                .profile-image:hover {
                    cursor: pointer;
                    content: url('../assets/imgs/cam_upload_hover.png');
                    position: absolute;
                }
            }

            ion-card {
                ion-item {
                    .input-wrapper {
                        border-bottom: 1px solid #dedede;
                    }

                    &.input-has-focus {
                        .input-wrapper {
                            border-bottom: 2px solid #ffeb3b;
                        }
                    }

                    &.has-error {
                        ion-label {
                            color: #f00 !important;
                        }

                        .input-wrapper {
                            border-bottom: 2px solid #f00;
                        }

                        .select-icon-inner {
                            color: #f00;
                        }
                    }

                    // remove excess padding around ion-datetime
                    .datetime-md {
                        padding-bottom: 4px;
                    }
                }

                .text-marr {
                    font-size: 16px;
                }

                .input-error {
                    color: #f00;
                    display: none;
                    font-size: 12px;
                    margin-top: 8px;
                }
            }


            // Remove all unnecessary grey lines
            .list-md .item-input:last-child {
                border-style: none;
            }

            // Remove all unnecessary yellow lines
            .list-md .item-input.item-input-has-focus,
            .list-md .item-input.input-has-focus,
            .item-md.item-input.item-input-has-focus .item-inner,
            .item-md.item-input.input-has-focus .item-inner {
                border-style: none!important;
                box-shadow: none!important;
            }

            .action-button {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
}
