<ng-container *ngIf="user">
  <ion-card>
    <ion-row>
      <ion-col col-9>
        <ion-card-title padding-left padding-top>
          Fitness Parameters
        </ion-card-title>
      </ion-col>
      <ion-col col-3>
        <ion-item text-right>
          <button *ngIf="viewType === LIST_VIEW"
            ion-button
            clear
            round
            color="dark"
            (click)="getChartView()">
              <ion-icon name="trending-up"></ion-icon>
          </button>
          <button *ngIf="viewType === CHART_VIEW"
            ion-button
            clear
            round
            color="dark"
            (click)="getListView()">
              <ion-icon name="list"></ion-icon>
          </button>
          <button ion-button
            clear
            round
            color="dark"
            (click)="addFitnessParams()">
              <ion-icon name="add"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="horizontal-rule"></div>

    <div *ngIf="viewType === LIST_VIEW" class="body-info-container">
      <!-- Fitness Parameters -->
      <ion-row padding *ngIf="user.bodyInfo">
        <ion-item-group ion-col col-lg-6>
          <div class="info-group">
            <ion-row>
              <label class="info-label" ion-col>
                Date Taken
              </label>
              <label ion-col text-center>
                {{ user.bodyInfo.dateTaken | date: 'd MMM yyyy' }}
              </label>
            </ion-row>
          </div>

          <div class="info-group">
            <ion-row>
              <label ion-col class="info-label">Age</label>
              <label ion-col text-center>
                {{ user.bodyInfo.trueAge }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col class="info-label">Body Age</label>
              <label ion-col text-center>
                {{ user.bodyInfo.bodyAge }}
              </label>
            </ion-row>
          </div>

          <div class="info-group">
            <ion-row>
              <label ion-col class="info-label">Height</label>
              <label ion-col text-center>
                {{ user.bodyInfo.height }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col class="info-label">Weight</label>
              <label ion-col text-center>
                {{ user.bodyInfo.weight }}
              </label>
            </ion-row>
          </div>

          <div class="info-group">
            <ion-row>
              <label ion-col class="info-label">Visceral Fat Rating</label>
              <label ion-col text-center>
                {{ user.bodyInfo.visceralFatRating }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col class="info-label">Resting Metabolism</label>
              <label ion-col text-center>
                {{ user.bodyInfo.restingMetabolism }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col class="info-label">Body Mass Index</label>
              <label ion-col text-center>
                {{ user.bodyInfo.bmi }}
              </label>
            </ion-row>
          </div>
        </ion-item-group>
        <ion-item-group ion-col col-lg-6>
          <div class="info-group">
            <ion-row>
              <label ion-col class="info-label">% Body Fat</label>
              <label ion-col text-center>
                {{ user.bodyInfo.percBodyFat }}
              </label>
            </ion-row>
          </div>

          <div class="info-group">
            <ion-row>
              <label ion-col class="info-label">% Subcutaneous Fat</label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Total</label>
              <label ion-col text-center>
                {{ user.bodyInfo.subCutFatTotal }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Trunk</label>
              <label ion-col text-center>
                {{ user.bodyInfo.subCutFatTrunk }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Arms</label>
              <label ion-col text-center>
                {{ user.bodyInfo.subCutFatArms }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Legs</label>
              <label ion-col text-center>
                {{ user.bodyInfo.subCutFatLegs }}
              </label>
            </ion-row>
          </div>

          <div class="info-group">
            <ion-row>
              <label ion-col class="info-label">% Skeletal Muscle</label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Total</label>
              <label ion-col text-center>
                {{ user.bodyInfo.skeletalMuscleTotal }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Trunk</label>
              <label ion-col text-center>
                {{ user.bodyInfo.skeletalMuscleTrunk }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Arms</label>
              <label ion-col text-center>
                {{ user.bodyInfo.skeletalMuscleArms }}
              </label>
            </ion-row>
            <ion-row>
              <label ion-col text-center>Legs</label>
              <label ion-col text-center>
                {{ user.bodyInfo.skeletalMuscleLegs }}
              </label>
            </ion-row>
          </div>

        </ion-item-group>
      </ion-row>

      <ion-row *ngIf="!user.bodyInfo">
        <label ion-col text-wrap text-center>
          Fitness Parameters tell you how fit you are. Record your fitness parameters now!
        </label>
      </ion-row>
    </div>

    <ng-container *ngIf="viewType === CHART_VIEW">
      <fitness-parameters-chart-view [user]="user"></fitness-parameters-chart-view>
    </ng-container>
  </ion-card>
</ng-container>
