fitness-parameters {
    .body-info-container {
        font-size: 16px;
        padding: 16px;

        .filler-image {
            height: auto;
            margin: auto;
            max-width: 300px;
        }

        .info-group {
            padding-bottom: 32px;
        }

        .info-label {
            font-weight: 500;
            letter-spacing: .02em;
        }
    }
}
