page-modal-edit-user {
    .PageModalEditUser {
        &-section {
            // padding: 4% 6%;

            &-subsection {
                display: table;
                table-layout: fixed;
                width: 100%;

                &-row {
                    display: table-row;
                    // width: 100%;

                    &-label {
                        display: table-cell;
                        opacity: 0.7;
                        text-align: center;
                        width: 12%;
                    }

                    &-textInput {
                        display: table-cell;
                        opacity: 0.9;
                        width: 88%;
                        border-bottom: 1px solid #dedede;

                        &:focus-within {
                            border-bottom: 2px solid #4285f4;
                        }
                    }

                    &-selectInput {
                        display: table-cell;
                        opacity: 0.9;
                        padding-top: 24px;
                        padding-left: 4px;
                        width: 88%;
                        border-bottom: 1px solid #dedede;

                        select {
                            background: transparent;
                            border: transparent;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            text-indent: 1px;
                            text-overflow: '';
                        }

                        select::-ms-expand {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
