<ng-container *ngIf="user">
  <!-- Contact ICE Info -->
  <ion-card>
    <ion-row>
      <ion-col col-9>
        <ion-card-title padding-left padding-top>
          In Case of Emergency
        </ion-card-title>
      </ion-col>
      <ion-col col-3>
        <ion-item text-right>
          <button ion-button clear color="dark" [navPush]="addEditMemberPage" [navParams]="{'isEdit': true, 'partToEdit': 'iceContact', 'user': user}">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item>
      </ion-col>

    </ion-row>
    <div class="horizontal-rule"></div>

    <ion-row>
      <ion-col col-3>
        <ion-item text-right>
          <ion-icon name="person"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item text-left>
          {{ user.iceContact.name }}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>
        <ion-item text-right>
          <ion-icon name="heart"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item text-left text-capitalize>
          {{ user.iceContact.relationship }}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>
        <ion-item text-right>
          <ion-icon name="call"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item text-left>
          {{ user.iceContact.contactNumber }}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>
        <ion-item text-right>
          <ion-icon name="mail"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item text-left>
          {{ user.iceContact.email }}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</ng-container>
