page-user-list {
    .spinner {
        position: fixed;
        z-index: 1;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    ion-fab-list {
        padding-bottom: 12px;

        span.letter-icon {
            font-weight: 500;
        }

        button[ion-fab] {
            overflow: visible;
            position: relative;

            ion-label {
                position: absolute;
                top: -8px;
                right: 40px;

                color: white;
                background-color: #343434;
                line-height: 24px;
                padding: 4px 8px;
                border-radius: 4px;
            }
        }

        .fab {
            contain: layout;
        }
    }

    ion-card {
        @media (min-width: 768px) {
            &.card{
                margin-left: 10%;
                width: 80%;
                margin-right: 10%;
            }
        }

        ion-searchbar {
            .searchbar-input-container {
                .searchbar-input {
                    background-color: #f8f8f8!important;
                }

                &:focus-within {
                    .searchbar-input {
                        background-color: #fff!important;
                    }

                    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
                    z-index: 10;
                    position: relative;
                }
            }
        }

        ion-list.user-list {
            ion-item, button.user-list-item {
                border-bottom: 1px solid #dddddd!important;
                color: rgba(0,0,0,0.78);

                &.header {
                    background-color: #f8f8f8!important;
                    border-top: 1px solid #dddddd!important;
                    border-bottom: 1px solid #dddddd!important;
                    color: rgba(0,0,0,0.54);
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: .02em;

                    .sorted-by {
                        color: rgba(0,0,0,0.87);
                    }
                }


                ion-label {
                    display: flex;
                    span {
                        overflow: hidden;
                        padding-left: 16px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    div.info-message {
                        font-style: italic;
                        color: rgba(0, 0, 0, 0.5);
                        margin: auto;
                    }

                    // xs
                    @media (max-width: 576px) {
                        span.col-xs-12 {
                            width: 100%;
                        }

                        span.hide-xs {
                            display: none;
                        }
                    }

                    // sm
                    @media (min-width: 576px) and  (max-width: 767px) {
                        span.col-sm-6 {
                            width: 50%;
                        }

                        span.hide-sm {
                            display: none;
                        }
                    }

                    // md
                    @media (min-width: 768px) and (max-width: 991px) {
                        span.col-md-6 {
                            width: 50%;
                        }

                        span.hide-md {
                            display: none;
                        }
                    }

                    // lg above
                    @media (min-width: 992px) {
                        span.col-lg-4 {
                            width: 33.33%;
                        }
                    }
                }
            }
        }
    }
}
