<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <ion-icon name="ios-people"></ion-icon>
        Users
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="showAddUser()">
        ADD USER
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
<ion-content>
  <ng-container *ngIf="loading">
    <div class="spinner">
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading && users && users.length > 0">
    <ion-list>
      <button ion-item *ngFor="let user of users" (click)="showUserDetails(user)">
        <!-- replace icon with image if exists -->
        <ion-icon name="person" item-start></ion-icon>
          {{ user.displayName || user.firstName }}
        <div class="item-note" item-end>
          {{user.dateJoined | date:'d MMM yyyy'}}
        </div>
      </button>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!loading && users && users.length === 0">
    Seems like you don't have any user yet! Add one now!
  </ng-container>
</ion-content>
