<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user && !loading">{{ user.displayName }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">CLOSE</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="user && !loading">
    <ng-container *ngIf="currentLoggedInUser.roles.owner">
      <h3>User Permissions</h3>
      This user is can act as any of the following:
      <ul>
        <li *ngFor="let role of user.getRoles()">{{ role }} </li>
      </ul>
    </ng-container>
    <h3>Basic Information</h3>
    <p>{{ user.firstName }} {{ user.lastName }} {{ user.suffix }}</p>
    <p>{{ user.gender }}</p>
    <p>{{ user.dateOfBirth | date:'h:mm a, d MMM yyyy' }}</p>

    <h3>Contact Information</h3>
    <p>{{ user.email }}</p>
    <ng-container *ngFor="let phone of user.phoneNumbers">
      <p>{{ phone.type }} - {{ phone.number }}</p>
    </ng-container>
    <p *ngIf="user.address">
      {{ user.address.street }}
      {{ user.address.city }}
      {{ user.address.region }}
      {{ user.address.country }}
    </p>

    <h3>In Case of Emergency</h3>
    <ng-container *ngIf="user.iceContact">
      {{ user.iceContact.name }} {{ user.iceContact.phoneNumber }}
    </ng-container>
    <ng-container *ngIf="!user.iceContact">
      Add a person to contact in case of emergency!
    </ng-container>

    <h3>Medical Remarks</h3>
    <ng-container *ngIf="user.otherRemarks">
      {{ user.otherRemarks }}
    </ng-container>
    <ng-container *ngIf="!user.otherRemarks">
      Add medical remarks.
    </ng-container>

    <h3>Fitness Parameters</h3>
    <ng-container *ngIf="user.bodyInfo">
      {{ user.bodyInfo.dateTaken | date:'h:mm a, d MMM yyyy' }}
      {{ user.bodyInfo.trueAge }}
      {{ user.bodyInfo.weight }} kg
      {{ user.bodyInfo.height }} cm
      {{ user.bodyInfo.percBodyFat }} %
      {{ user.bodyInfo.visceralFatRating }} %
      {{ user.bodyInfo.restingMetabolism }}
      {{ user.bodyInfo.bmi }}
      {{ user.bodyInfo.bodyAge }}

      {{ user.bodyInfo.subcutaneousMeasurements.total }}
      {{ user.bodyInfo.subcutaneousMeasurements.trunk }}
      {{ user.bodyInfo.subcutaneousMeasurements.arms }}
      {{ user.bodyInfo.subcutaneousMeasurements.legs }}

      {{ user.bodyInfo.skeletalMeasurements.total }}
      {{ user.bodyInfo.skeletalMeasurements.trunk }}
      {{ user.bodyInfo.skeletalMeasurements.arms }}
      {{ user.bodyInfo.skeletalMeasurements.legs }}
    </ng-container>
    <ng-container *ngIf="!user.bodyInfo">
      Looks like you haven't had your fitness parameters taken yet!
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!user || loading">
    <ion-spinner></ion-spinner>
  </ng-container>
</ion-content>
